#body-index{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}



#game-canvas{
    width: 600px;
    height: 600px;
    border:5px solid #781080;
}

#body-game{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background-image: url(/img/background.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#sound-img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    margin: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
  }
  
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
  }
  
  .arrows {
    margin: 0 5px;
    filter: drop-shadow(1px 1px 0 #00a5ff);
  }


.bw-icons{
    margin: 0 5px;
    filter: drop-shadow(1px 1px 0 #00a5ff);
    height: 25px;

}

#start-page-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    border: 5px solid #781080;
    background-color: #781080;
    background: rgba(120, 16, 128, 0.5);
    border-radius: 15%;

}

#character-select-button{
    border:5px solid #781080;
    display: flex;
    flex-direction: row;
}



.players-images{
    height: 200px;
    width: 200px;
}



#game-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons-div{
    display: flex;
    justify-content: space-around;
}

#soundoff-button,
#new-game-button{
    border-radius: 15%;
    height: 60px;
    width: 300px;
    font-size: 30px;
    font-weight: 900;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    background-color: #781080;
    border: 5px solid #781080;
    color: white;
    background: rgba(120, 16, 128, 0.5);
    outline: none;
}

.arrows{
    height: 14px;
}